<!DOCTYPE html>
<html>
<head>
	<title>Tasks List - ToDo APP</title>
	<link rel="stylesheet" type="text/css" href="static/add.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body style="user-select: none;">
	<style type="text/css">
		.fa-check-circle {
			font-size: 16px;
			padding-right: 12px;
			padding-left: 4px;
		}

		.fa-plus {
			color: white;
			font-size: 20px;
			margin-top:7px;
			font-weight: 100;
		}
		.fa-save {
			color:black;
		}
	</style>
	<div class="frame">
		<div class="titleHandler">
			<h1 class="title">ToDo APP</h1>
		</div>

		<div class="mode">
			<div class="modeHandler">
				<div class="scrollMode">Monthly</div>
				<div class="todayMode">Today</div>
			</div>
		</div>

		<div class="date">
			<div class="dateText" id="dateText">
				
			</div>
		</div>
		<div class="message">
			<div class="messageText">
				The app is in beta
			</div>
			<div class="messageButton">
				See roadmap
			</div>
		</div>


		<div class="main" id="tasks">
			<div style="height:15px;width:100%;"></div>
		</div>
		<div class="footer">
			<div class="unfinishedText">Unfinished</div>
			<div class="addButton">
				<div class="roundButton">
					<a href="#add"><i class="fa fa-plus"></i></a>
				</div>				
			</div>
			<div class="finishedText">Finished</div>
		</div>






		<div id="add" class="overlay">
			<div class="popup">
				<h2 class="popupTitle">Add Task</h2>
				<form class="popupForm">
					<input type="text" name="title" placeholder="title" required>
					<p></p>
					<input class="flatpickr flatpickr-input" id="date" type="date" name="date" placeholder="date" value="" required>
					<input id="timePicker" type="time" name="time" placeholder="time" required>
					<p></p>
					<a class="close close2" href="#"><i class="fa fa-save"></i></a>
					<a onclick="newTask()" class="close" href="#"><i class="fa fa-plus"></i></a>
				</form>
			</div>
		</div>
	</div>











	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script type="text/javascript">
		let uuid = "";

		if (document.cookie.indexOf('uuid=') == -1) { window.location.href = "http://localhost:8000/webclient/tasks" }
		else { uuid = document.cookie.match('(^|;) ?uuid=([^;]*)(;|$)')[2] }

		const UUID = "e7946b07-252a-4764-98c6-9edffdd3e047";
		const BASE_URL = "http://localhost:8000/api/v1";

		getTasks()

		let months = {
			0: 'Janvier',
			1: 'Février',
			9: 'Octobre',
			10: 'Novembre'
		};
		document.getElementById('dateText').innerHTML = (new Date()).getUTCDate() +" " + months[(new Date()).getMonth()] + " " + (new Date()).getFullYear();


		var fp = flatpickr(document.querySelector('#date'), {
		 	altFormat: "j/m/Y",
		 	altInput: true
		});

		var fp2 = flatpickr(document.querySelector('#timePicker'), {
			enableTime: true,
		    noCalendar: true,
		    dateFormat: "H:i",
		    time_24hr: true
		});










		function newTask () {
			let title = document.getElementsByName("title")[0].value;
			if (title == "") return;
			document.getElementsByName("title")[0].value = "";
			let date = document.getElementsByName("date")[0].value;
			fp.clear();
			let time = document.getElementsByName("time")[0].value;
			fp2.clear();

			let dateTime = (new Date(date + " " + time)).getTime()/1000;

			const task = fetch(BASE_URL + '/' + UUID +'/add/', {
				method: 'POST',
				headers:{
					'Content-Type': 'application/json'
				},
			    body: JSON.stringify({
					title: title,
					date: dateTime
				})
			})
			.then ((res) => {
				getTasks()
			})
			.catch((err) => {
				alert("Erreur de synchronisation. Veuillez actualiser la page")
			})
		}



		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

		function getTasks () {
			const tasks = fetch (BASE_URL+'/'+UUID+"/unfinished/")
	        .then ((res) => {
				return res.json()
			})
			.then ((data) => {
				let tasks = document.getElementById('tasks')
				tasks.innerHTML = "<div style='height:15px;width:100%;'></div>"
				let cpt = 1;
				for (task of data) {
					let now = new Date()
					let date = new Date(task.finishDate*1000)
					let late = false
					if (date < now) late = true
					let timeD = date.getUTCDate()+"/"+(date.getMonth()+1)
					let hours = date.getHours()
					let minutes = date.getMinutes()
					let timeH = "";
					if (hours < 10) timeH = "0"
					timeH += hours+":"
					if (minutes < 10) timeH += "0"
					timeH += minutes
					let html = "<div class='task' id='"+task.uuid+"' onclick='finishTask(\`"+task.uuid+"`)'><div class='taskText'>"+task.title+"</div><div class='taskDate'>"
					html += "<span style='color:red;'>"+timeD+" · <b>"+timeH+"</b></span></div></div>"
					tasks.innerHTML += html
					cpt++
				}
			});
		}


		function finishTask (taskId) {
			if (document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.contains('finished')) { //UNFINISH
				const tasks = fetch (BASE_URL+'/'+UUID+"/unfinish/"+taskId)
		        .then ((res) => {
					document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.remove('finished');
					document.getElementById(taskId).getElementsByClassName('taskText')[0].removeChild(document.getElementById(taskId).getElementsByClassName('taskText')[0].firstChild);
				})
				.catch ((err) => {
					alert("Erreur de synchronisation. Veuillez actualiser la page")
				});

				
			} else { // FINISH
				const tasks = fetch (BASE_URL+'/'+UUID+"/finish/"+taskId)
		        .then ((res) => {
					let task = document.getElementById(taskId);
					let titleHTML = task.getElementsByClassName('taskText')[0].innerHTML;
					titleHTML = "<i class='fa fa-check-circle'></i>"+titleHTML;

					task.getElementsByClassName('taskText')[0].innerHTML = titleHTML;
					document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.add('finished');

				})
				.catch ((err) => {
					alert("Erreur de synchronisation. Veuillez actualiser la page")
				});
			}
			
		}


	</script>
</body>
</html>