<!DOCTYPE html>
<html>
<head>
	<title>Tasks List - ToDo APP</title>
	<link rel="stylesheet" type="text/css" href="static/add.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="user-select: none;">
	<style type="text/css">
		.fa-check-circle {
			font-size: 16px;
			padding-right: 12px;
			padding-left: 4px;
		}

		.fa-plus {
			color: white;
			font-size: 20px;
			margin-top:7px;
			font-weight: 100;
		}
		.fa-save {
			color:black;
		}
	</style>
	<div class="frame">
		<div class="titleHandler">
			<h1 class="title">ToDo APP</h1>
		</div>

		<div class="mode">
			<div class="modeHandler">
				<div class="scrollMode">Monthly</div>
				<div class="todayMode">Today</div>
			</div>
		</div>

		<div class="date">
			<div class="dateText">
				30 octobre 2019
			</div>
		</div>
		<div class="message">
			<div class="messageText">
				The app is in beta
			</div>
			<div class="messageButton">
				See roadmap
			</div>
		</div>


		<div class="main" id="tasks">
			<div style="height:15px;width:100%;"></div>
			<div class="task">
				<div class="taskText finished"><i class="fa fa-check-circle"></i>Task number 1:<br>- subTask 1<br>- subTask2<br>- subTask3</div>
				<div class="taskDate">01/10 · <b>08:00</b></div>
			</div>

			<div class="task">
				<div class="taskText finished"><i class="fa fa-check-circle"></i>Task number 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
				<div class="taskDate">02/10 · <b>20:50</b></div>
			</div>

			<div class="task">
				<div class="taskText finished"><i class="fa fa-check-circle"></i>Task number 3</div>
				<div class="taskDate">21/10 · <b>17:45</b></div>
			</div>

			<div class="task">
				<div class="taskText">Task number 4</div>
				<div class="taskDate">17/11 · <b>22:25</b></div>
			</div>

			<div class="task">
				<div class="taskText">Task number 5</div>
				<div class="taskDate">12 pm</div>
			</div>

			<div class="task">
				<div class="taskText">Task number 6</div>
				<div class="taskDate">1 am</div>
			</div>

			<div class="task">
				<div class="taskText">Task number 7</div>
				<div class="taskDate">2 am</div>
			</div>

			<div class="task">
				<div class="taskText">Task number 8</div>
				<div class="taskDate">3 am</div>
			</div>

			<div class="task">
				<div class="taskText">Task number 9</div>
				<div class="taskDate">4 am</div>
			</div>
		</div>
		<div class="footer">
			<div class="unfinishedText">Unfinished</div>
			<div class="addButton">
				<div class="roundButton">
					<a href="#add"><i class="fa fa-plus"></i></a>
				</div>				
			</div>
			<div class="finishedText">Finished</div>
		</div>






		<div id="add" class="overlay">
			<div class="popup">
				<h2 class="popupTitle">Add Task</h2>
				<form class="popupForm">
					<input type="text" name="title" placeholder="title" value="My Task 1" required>
					<p></p>
					<input id="date" type="date" name="date" placeholder="date" value="" required>
					<input type="time" name="time" placeholder="time" value="00:00" required>
					<p></p>
					<a class="close close2" href="#"><i class="fa fa-save"></i></a>
					<a onclick="newTask()" class="close" href="#"><i class="fa fa-plus"></i></a>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		let uuid = "";

		if (document.cookie.indexOf('uuid=') == -1) { window.location.href = "http://localhost:8000/webclient/tasks" }
		else { uuid = document.cookie.match('(^|;) ?uuid=([^;]*)(;|$)')[2] }

		const UUID = "e7946b07-252a-4764-98c6-9edffdd3e047";
		const BASE_URL = "http://localhost:8000/api/v1";

		getTasks()

		document.getElementById('date').valueAsDate = new Date();

		function newTask () {
			let title = document.getElementsByName("title")[0].value;
			document.getElementsByName("title")[0].value = "";
			let date = document.getElementsByName("date")[0].value;
			document.getElementsByName("date")[0].valueAsDate = new Date();
			let time = document.getElementsByName("time")[0].value;
			document.getElementsByName("time")[0].value = "00:00";

			console.log("NEW TASK :");
			console.log("Title : "+title);
			console.log("Date : "+date+"_"+time);
			alert("NEW TASK \nTitle : "+title+"\nDate : "+date+"_"+time);
		}



		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

		function getTasks () {
			const tasks = fetch (BASE_URL+'/'+UUID+"/unfinished/")
	        .then ((res) => {
				return res.json()
			})
			.then ((data) => {
				let tasks = document.getElementById('tasks')
				tasks.innerHTML = "<div style='height:15px;width:100%;'></div>"
				let cpt = 1;
				for (task of data) {
					let now = new Date()
					let date = new Date(task.finishDate*1000)
					let late = false
					if (date < now) late = true
					let timeD = date.getUTCDate()+"/"+(date.getMonth()+1)
					let hours = date.getHours()
					let minutes = date.getMinutes()
					let timeH = "";
					if (hours < 10) timeH = "0"
					timeH += hours+":"
					if (minutes < 10) timeH += "0"
					timeH += minutes
					let html = "<div class='task' id='task"+cpt+"' onclick='finishTask(\`task"+cpt+"`)'><div class='taskText'>"+task.title+"</div><div class='taskDate'>"
					html += "<span style='color:red;'>"+timeD+" · <b>"+timeH+"</b></span></div></div>"
					tasks.innerHTML += html
					cpt++
				}
			});
		}


		function finishTask (taskId) {
			if (document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.contains('finished')) { //UNFINISH
				document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.remove('finished');
				document.getElementById(taskId).getElementsByClassName('taskText')[0].removeChild(document.getElementById(taskId).getElementsByClassName('taskText')[0].firstChild);
			} else { // FINISH
				let task = document.getElementById(taskId);
				let titleHTML = task.getElementsByClassName('taskText')[0].innerHTML;
				titleHTML = "<i class='fa fa-check-circle'></i>"+titleHTML;

				task.getElementsByClassName('taskText')[0].innerHTML = titleHTML;
				document.getElementById(taskId).getElementsByClassName('taskText')[0].classList.add('finished');
			}
			
		}


	</script>
</body>
</html>